@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
	font-family: 'Josefin Slab', serif;
	font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Abril Fatface', cursive;
}


.position {
	position: relative;
}

.position-centered {
	position: relative;
	top:50%;
	left:0%;
	transform: translateY(-50%);
}

.bg-red {
	background-color: $mainRed;
}

.bg-green {
	background-color: $mainGreen;
}

.bg-secBlack {
	background-color: $secBlack;
}

.txt-black {
	color:$mainBlack;
}

.txt-secBlack {
	color:$secBlack;
}

.icon-color, .txt-red {
	color: $mainRed;
}

.active {
	border-bottom:2px solid #fff;
}

.success {
  margin-bottom: 0.75rem;
  text-align: center;
  color: #fff;
  padding:0.25rem;
  border:1px solid #fff;
}

.error {
  margin-bottom: 0.75rem;
  text-align: center;
  color: red;
  padding:0.25rem;
  border:1px solid red;
}

